.data-source-form {
  &:not(:last-child) {
    border-bottom: 1px solid $color-neutral-200;
    margin-bottom: 20px;
  }

  .tabs__header {
    border-bottom: none;
    padding-left: 0;
  }
}

.data-source-form__header {
  margin-bottom: 20px;
}

.data-source-form__header-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.data-source-form__name-input {
  width: 124px;
  margin-bottom: 0;
}

.data-source-form__type-dropdown {
  min-width: 160px;
}

.data-source-form__integration-dropdown {
  min-width: 180px;
  max-width: 200px;
}

.data-source-form__sort-form-tab {
  padding-left: 0;
}

.data-source-form__condition-form-tab {
  padding-left: 0;
  padding-right: 0;

  .filters__items {
    min-width: 534px;
  }

  .filters__add {
    padding: 12px 0 6px 4px;
  }

  .filters__value--with-after-input {
    display: flex;
    align-items: center;

    .filters__value--formula-input {
      flex: 1;
      margin-bottom: 0;

      .formula-input-field {
        min-height: 37px;
      }
    }

    .input--small {
      height: 37px;
    }

    .control__elements--small {
      margin-bottom: 0;
    }

    .filters__value-dropdown {
      width: 100%;
    }

    .filters__value--formula-toggle {
      margin-left: auto;
      padding-left: 6px;
    }

    .filters__value-formula-toggle--disabled {
      color: $color-neutral-400;
    }
  }
}

.data-source-form__search-form-tab {
  padding-left: 0;
}
